mule_project/practicagrupofinal/src/main/app/e-commerce.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="e-commerce-httpListenerConfig" host="0.0.0.0" port="9092" doc:name="HTTP Listener Configuration" />
    <apikit:config name="e-commerce-config" raml="e-commerce.raml" consoleEnabled="false" doc:name="Router" />
    <http:request-config name="HTTP_Request_APIecommerce" host="localhost" port="3002" basePath="/ecommerce" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="e-commerce.raml"/>

    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration_deletefactura" host="localhost" port="3002" basePath="/ecommerce" doc:name="HTTP Request Configuration" />
    <flow name="e-commerce-main">
        <http:listener config-ref="e-commerce-httpListenerConfig" path="/ecommerce/*" doc:name="HTTP" />
        <apikit:router config-ref="e-commerce-config" doc:name="APIkit Router" />
        <exception-strategy ref="e-commerce-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="e-commerce-console">
        <http:listener config-ref="e-commerce-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="e-commerce-config" doc:name="APIkit Console" />
    </flow>
    <flow name="put:/stock/{id}:application/json:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/stock/{id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]" />
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="delete:/factura/{id}:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/factura/{id}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]" />
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="delete:/stock/{id}:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/stock/{id}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]" />
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="get:/stock:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/stock" method="GET" doc:name="HTTP" />
    </flow>
    <flow name="get:/stock/{id}:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/stock/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="post:/factura:application/json:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/factura" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="post:/stock:application/json:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/stock" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="get:/factura:e-commerce-config">
        <http:request config-ref="HTTP_Request_APIecommerce" path="/factura" method="GET" doc:name="HTTP"/>

    </flow>
    <apikit:mapping-exception-strategy name="e-commerce-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
