mule_project/practicagrupofinal/src/main/app/gestionFabricacionPaneles.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="gestionFabricacionPaneles-httpListenerConfig" host="0.0.0.0" port="9091" doc:name="HTTP Listener Configuration" />
    <apikit:config name="gestionFabricacionPaneles-config" raml="gestionFabricacionPaneles.raml" consoleEnabled="false" doc:name="Router" />
    <http:request-config name="HTTP_Request_APIFabricacion" host="localhost" port="3000" basePath="/fabricacionPaneles" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="gestionFabricacionPaneles.raml"/>

    </http:request-config>
    <flow name="gestionFabricacionPaneles-main">
        <http:listener config-ref="gestionFabricacionPaneles-httpListenerConfig" path="/fabricacionPaneles/*" doc:name="HTTP" />
        <apikit:router config-ref="gestionFabricacionPaneles-config" doc:name="APIkit Router" />
        <exception-strategy ref="gestionFabricacionPaneles-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="gestionFabricacionPaneles-console">
        <http:listener config-ref="gestionFabricacionPaneles-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="gestionFabricacionPaneles-config" doc:name="APIkit Console" />
    </flow>
    <flow name="put:/materiales/{id}:application/json:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/materiales/{id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
                <http:header headerName="Content-Type" value="application/json"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="put:/pedidos/{id}:application/json:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos/{id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
                <http:header headerName="Content-Type" value="application/json"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="get:/materiales:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/materiales" method="GET" doc:name="HTTP" />
    </flow>
    <flow name="get:/pedidos:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos" method="GET" doc:name="HTTP" />
    </flow>
    <flow name="get:/pedidosMateriales:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidosMateriales" method="GET" doc:name="HTTP" />
    </flow>
    <flow name="get:/pedidos/estado/{estado}:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos/estado/{estado}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="estado" value="#[message.inboundProperties.'http.uri.params'.estado]"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="get:/pedidos/{id}:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="get:/materiales/{id}:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/materiales/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="post:/pedidos:application/json:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json" />
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="post:/pedidosMateriales:application/json:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidosMateriales" method="POST" doc:name="HTTP">

        </http:request>
    </flow>
    <flow name="get:/pedidos/{id}/siguienteEstado:gestionFabricacionPaneles-config">
        <http:request config-ref="HTTP_Request_APIFabricacion" path="/pedidos/{id}/siguienteEstado" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>

    </flow>
    <apikit:mapping-exception-strategy name="gestionFabricacionPaneles-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
